/Dog.class
/ExamplesDog.class
/EmptyServing.class
/ExamplesIceCream.class
/IIceCream.class
/Scooped.class
/Carriage.class
/Castle.class
/ExamplesTravel.class
/Horse.class
/Hut.class
/IHousing.class
/ITransportation.class
/Inn.class
